/* disable these when you're done */
/* .ui-grid-container-one {
  background-image: url('/images/grid-1.png');
} */
.ui-grid-container-two {
  background-image: url('/images/grid-2.png');
}
.ui-grid-container-three {
  background-image: url('/images/grid-3.png');
}
/* your CSS goes here */

.ui-grid-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: #6495ed;
}

/* .one{
  grid-column: span 1;
  background: #6495ed;
} */

.ui-grid-container div:nth-child(even){
  background: #ffffff;
}

